asgiref==3.10.0
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
dataclasses==0.6
dj-database-url==3.0.1
Django==5.2.7
django-cors-headers==4.9.0
djangorestframework==3.16.1
djongo==1.2.31
dnspython==2.8.0
frappe-bench==5.25.1
gitdb==4.0.12
GitPython==3.1.44
gunicorn==23.0.0
honcho==2.0.0
idna==3.10
Jinja2==3.1.6
MarkupSafe==3.0.2
packaging==25.0
psycopg2-binary==2.9.11
pymongo==4.15.3
python-crontab==2.6.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
requests==2.32.4
semantic-version==2.10.0
setuptools==80.9.0
six==1.17.0
smmap==5.0.2
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.4.0
whitenoise==6.11.0
